@import "../vars";
.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__progress-button{
        background: transparent;
        border-bottom-color: transparent;
        width: 50px;
        text-align: center;
        &:hover {
            background: $gray;
            border-bottom-color: darken($gray, 10%);
        }
    }
    &__name {
        flex-grow: 1;
        position: relative;
        &__input {
            // position: absolute;
            // z-index: 1000;
            width: 100%;
            // display: block;
            // opacity: 0;
            // top: 0;
            // left: 0;
            box-sizing: border-box;
            // height: 2.5rem;
            // border: none;
            // border-bottom: 4px solid transparent;
            // background: transparent;
            padding: 0.25rem 0.5rem calc(0.25rem - 4px) 0.5rem;
            // margin: 0;
            // border-radius: 0;
            // outline: none;
            // line-height: 2rem;
            // letter-spacing: 1px;
        }
        &__rendered {
            display: none;
            // display: block;
            // z-index: 500;
            // width: 100%;
            // opacity: 1;
            // top: 0;
            // left: 0;
            // box-sizing: border-box;
            // height: 2.5rem;
            // border: none;
            // border-bottom: 4px solid transparent;
            // background: transparent;
            // padding: 0.25rem 0.5rem calc(0.25rem - 4px) 0.5rem;
            // margin: 0;
            // border-radius: 0;
            // outline: none;
            // line-height: 2rem;
            // letter-spacing: 1px;
        }

    }

    &__timer-button {
        width: 150px;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    &__time {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
        text-align: center;
        border: none;
        background: transparent;
        padding: 0.25rem 0.5rem;
        position: relative;
        z-index: 0;
        &:before {
            content: " ";
            display: block;
            background: transparent;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-radius: 100%;
            opacity: 0.75;
            z-index: 1;
        }
    }
    
    &__remove-button {
        background: $red;
        border-bottom-color: $red;
        color: white;
        width: 40px;
        text-align: center;
        &:hover {
            background: darken($red, 10%);
            border-bottom-color: darken($red, 10%);
        }
    }
    &--timer-active {
        .task__time {
            &:before {
                animation: back-and-forth 1s infinite alternate linear, rainbow 5s infinite alternate linear;
            }
        }
    }
    &--progress-inactive {

    }
    &--progress-active {
        .task__progress-button{
            background: $purple;
            border-bottom-color: $purple;
            color: white;
            &:hover {
                border-bottom-color: darken($purple, 10%);
            }
        }
    }
    &--progress-complete {
        opacity: 0.75;
        .task__progress-button{
            background: $green;
            border-bottom-color: $green;
            color: white;
            &:hover {
                border-bottom-color: darken($green, 10%);
            }
        }
        .task__name {
            text-decoration: line-through;
        }
    }
    
}

// .task .task__name:hover, .task.task--input-active .task__name {
//     .task__name__input {
//         opacity: 1;
//     }
//     .task__name__rendered {
//         opacity: 0;
//     }
// }

@keyframes back-and-forth {
    from {
        width: 10px;
        height: 10px;
        left: 0px;
    }
    to {
        width: 10px;
        height: 10px;
        left: calc(100% - 10px);
    }
}

@keyframes rainbow {

    0% { background: $red;}
    20% { background: $orange;}
    40% { background: $yellow;}
    60% { background: $green;}
    80% { background: $blue;}
    100% { background: $purple;}
    
}