@import "./vars.scss";
.app {
  padding: 20px;

  &__title {
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
  }

  &__toggle-active-view {
    padding: 20px 0;
  }

  &__help {
    margin-top: 130px;
    padding: 20px;
    opacity: 0.7;
    font-size: 0.75rem;
    ul {
      columns: 2;
      list-style-type: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__help-title {
    font-size: 1rem;
    margin: 0;
    border-bottom: 2px solid $gray; 
  }
}
